Repository ruudk/graphql-client-code-generator: changes, and which lefthook commands are due for each by the changed paths.
All: ensure-sync, sync-readme-examples, composer-validate, composer-normalize, composer-dependency-analyser, php-cs-fixer, twig-cs-fixer, phpstan, phpunit

ensure-sync:
  run: bin/graphql-client-code-generator --config=examples/config.php --config=tests/config.php --ensure-sync

sync-readme-examples:
  run: vendor/bin/readme-examples-sync
  stage_fixed: true

composer-validate:
  run: composer validate --strict

composer-normalize:
  run: composer normalize --diff
  stage_fixed: true

composer-dependency-analyser:
  run: vendor/bin/composer-dependency-analyser

php-cs-fixer:
  run: vendor/bin/php-cs-fixer fix --config .php-cs-fixer.php -- {staged_files}
  stage_fixed: true

twig-cs-fixer:
  run: vendor/bin/twig-cs-fixer fix -- {staged_files}
  stage_fixed: true

phpstan:
  run: vendor/bin/phpstan

phpunit:
  run: vendor/bin/phpunit

Require PHP 8.5
  .github/workflows/ci.yml
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-dependency-analyser

Require at least Symfony 8 and bump other dependencies
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-dependency-analyser

Fix code formatting
  src/Config/ConfigLoader.php
  src/Generator/DataClassGenerator.php
  src/Planner/PlannerResult.php
  tests/Planner/NestedFragmentPayloadShapeTest.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Require PHP 8.5 and Symfony 8+ (#41)
  .github/workflows/ci.yml
  composer.json
  composer.lock
  src/Config/ConfigLoader.php
  src/Generator/DataClassGenerator.php
  src/Planner/PlannerResult.php
  tests/Planner/NestedFragmentPayloadShapeTest.php
Due: ensure-sync, sync-readme-examples, composer-validate, composer-normalize, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Use native clone with syntax
  src/Config/Config.php
  src/Planner/FieldCollection.php
  src/Planner/PayloadShape.php
  src/Planner/PlanningContext.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Use native clone with syntax (#42)
  src/Config/Config.php
  src/Planner/FieldCollection.php
  src/Planner/PayloadShape.php
  src/Planner/PlanningContext.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Run user type initializers before the catch-all ObjectTypeInitializer
  src/Executor/PlanExecutor.php
  src/TypeInitializer/ObjectTypeInitializer.php
  tests/HooksWithCustomTypeInitializer/FindUserByIdHook.php
  tests/HooksWithCustomTypeInitializer/Generated/Query/Test/Data.php
  tests/HooksWithCustomTypeInitializer/Generated/Query/Test/Data/Viewer.php
  tests/HooksWithCustomTypeInitializer/Generated/Query/Test/Data/Viewer/Project.php
  tests/HooksWithCustomTypeInitializer/Generated/Query/Test/Data/Viewer/Project/Creator.php
  tests/HooksWithCustomTypeInitializer/Generated/Query/Test/Error.php
  tests/HooksWithCustomTypeInitializer/Generated/Query/Test/TestQuery.php
  tests/HooksWithCustomTypeInitializer/HooksWithCustomTypeInitializerTest.php
  tests/HooksWithCustomTypeInitializer/Schema.graphql
  tests/HooksWithCustomTypeInitializer/Test.graphql
  tests/HooksWithCustomTypeInitializer/Url.php
  tests/HooksWithCustomTypeInitializer/User.php
  tests/Money/MoneyTest.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Run user type initializers before the catch-all ObjectTypeInitializer (#44)
  src/Executor/PlanExecutor.php
  src/TypeInitializer/ObjectTypeInitializer.php
  tests/HooksWithCustomTypeInitializer/FindUserByIdHook.php
  tests/HooksWithCustomTypeInitializer/Generated/Query/Test/Data.php
  tests/HooksWithCustomTypeInitializer/Generated/Query/Test/Data/Viewer.php
  tests/HooksWithCustomTypeInitializer/Generated/Query/Test/Data/Viewer/Project.php
  tests/HooksWithCustomTypeInitializer/Generated/Query/Test/Data/Viewer/Project/Creator.php
  tests/HooksWithCustomTypeInitializer/Generated/Query/Test/Error.php
  tests/HooksWithCustomTypeInitializer/Generated/Query/Test/TestQuery.php
  tests/HooksWithCustomTypeInitializer/HooksWithCustomTypeInitializerTest.php
  tests/HooksWithCustomTypeInitializer/Schema.graphql
  tests/HooksWithCustomTypeInitializer/Test.graphql
  tests/HooksWithCustomTypeInitializer/Url.php
  tests/HooksWithCustomTypeInitializer/User.php
  tests/Money/MoneyTest.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Forward $hooks through fragment-spread getters
  src/Generator/DataClassGenerator.php
  tests/HooksWithFragmentSpread/FindUserByIdHook.php
  tests/HooksWithFragmentSpread/Generated/Fragment/ProjectListing.php
  tests/HooksWithFragmentSpread/Generated/Fragment/ProjectSummary.php
  tests/HooksWithFragmentSpread/Generated/Fragment/ProjectSummary/Creator.php
  tests/HooksWithFragmentSpread/Generated/Query/Test/Data.php
  tests/HooksWithFragmentSpread/Generated/Query/Test/Data/Viewer.php
  tests/HooksWithFragmentSpread/Generated/Query/Test/Data/Viewer/Project.php
  tests/HooksWithFragmentSpread/Generated/Query/Test/Error.php
  tests/HooksWithFragmentSpread/Generated/Query/Test/TestQuery.php
  tests/HooksWithFragmentSpread/HooksWithFragmentSpreadTest.php
  tests/HooksWithFragmentSpread/ProjectListing.graphql
  tests/HooksWithFragmentSpread/ProjectSummary.graphql
  tests/HooksWithFragmentSpread/Schema.graphql
  tests/HooksWithFragmentSpread/Test.graphql
  tests/HooksWithFragmentSpread/User.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Forward $hooks through fragment-spread getters (#45)
  src/Generator/DataClassGenerator.php
  tests/HooksWithFragmentSpread/FindUserByIdHook.php
  tests/HooksWithFragmentSpread/Generated/Fragment/ProjectListing.php
  tests/HooksWithFragmentSpread/Generated/Fragment/ProjectSummary.php
  tests/HooksWithFragmentSpread/Generated/Fragment/ProjectSummary/Creator.php
  tests/HooksWithFragmentSpread/Generated/Query/Test/Data.php
  tests/HooksWithFragmentSpread/Generated/Query/Test/Data/Viewer.php
  tests/HooksWithFragmentSpread/Generated/Query/Test/Data/Viewer/Project.php
  tests/HooksWithFragmentSpread/Generated/Query/Test/Error.php
  tests/HooksWithFragmentSpread/Generated/Query/Test/TestQuery.php
  tests/HooksWithFragmentSpread/HooksWithFragmentSpreadTest.php
  tests/HooksWithFragmentSpread/ProjectListing.graphql
  tests/HooksWithFragmentSpread/ProjectSummary.graphql
  tests/HooksWithFragmentSpread/Schema.graphql
  tests/HooksWithFragmentSpread/Test.graphql
  tests/HooksWithFragmentSpread/User.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Make queriesDir optional via withQueriesDir builder
  README.md
  examples/config.php
  src/Config/Config.php
  src/Executor/PlanExecutor.php
  src/Planner.php
  tests/Generator/AbstractGeneratorTest.php
  tests/GraphQLTestCase.php
  tests/PHPStan/config.php
  tests/Planner/NestedFragmentPayloadShapeTest.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Make queriesDir optional via withQueriesDir builder (#46)
  README.md
  examples/config.php
  src/Config/Config.php
  src/Executor/PlanExecutor.php
  src/Planner.php
  tests/Generator/AbstractGeneratorTest.php
  tests/GraphQLTestCase.php
  tests/PHPStan/config.php
  tests/Planner/NestedFragmentPayloadShapeTest.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Emit @var PHPDoc for hook-backed collection properties
  composer-dependency-analyser.php
  composer.json
  composer.lock
  src/Generator/DataClassGenerator.php
  tests/HooksWithListReturn/FindUsersByIdsHook.php
  tests/HooksWithListReturn/Generated/Query/Test/Data.php
  tests/HooksWithListReturn/Generated/Query/Test/Data/Viewer.php
  tests/HooksWithListReturn/Generated/Query/Test/Data/Viewer/Project.php
  tests/HooksWithListReturn/Generated/Query/Test/Error.php
  tests/HooksWithListReturn/Generated/Query/Test/TestQuery.php
  tests/HooksWithListReturn/HooksWithListReturnTest.php
  tests/HooksWithListReturn/Schema.graphql
  tests/HooksWithListReturn/Test.graphql
  tests/HooksWithListReturn/User.php
Due: ensure-sync, sync-readme-examples, composer-validate, composer-normalize, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Emit @var PHPDoc for hook-backed collection properties (#47)
  composer-dependency-analyser.php
  composer.json
  composer.lock
  src/Generator/DataClassGenerator.php
  tests/HooksWithListReturn/FindUsersByIdsHook.php
  tests/HooksWithListReturn/Generated/Query/Test/Data.php
  tests/HooksWithListReturn/Generated/Query/Test/Data/Viewer.php
  tests/HooksWithListReturn/Generated/Query/Test/Data/Viewer/Project.php
  tests/HooksWithListReturn/Generated/Query/Test/Error.php
  tests/HooksWithListReturn/Generated/Query/Test/TestQuery.php
  tests/HooksWithListReturn/HooksWithListReturnTest.php
  tests/HooksWithListReturn/Schema.graphql
  tests/HooksWithListReturn/Test.graphql
  tests/HooksWithListReturn/User.php
Due: ensure-sync, sync-readme-examples, composer-validate, composer-normalize, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Require code-generator 0.4.7
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-dependency-analyser

Require code-generator 0.4.7 (#48)
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-dependency-analyser

Detect unused hooks during --ensure-sync
  src/Console/GenerateCommand.php
  tests/Console/EnsureSyncCommandTest.php
  tests/Console/Fixtures/with-only-used-hooks.php
  tests/Console/Fixtures/with-unused-hook.php
  tests/Console/UnusedHookForTesting.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Detect unused hooks during --ensure-sync
  src/Console/GenerateCommand.php
  src/Executor/PlanExecutor.php
  src/TypeInitializer/ClassHookUsageRegistry.php
  tests/Console/EnsureSyncCommandTest.php
  tests/Console/Fixtures/with-only-used-hooks.php
  tests/Console/Fixtures/with-unused-hook.php
  tests/Console/UnusedHookForTesting.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Detect unused hooks during --ensure-sync (#49)
  src/Console/GenerateCommand.php
  src/Executor/PlanExecutor.php
  src/TypeInitializer/ClassHookUsageRegistry.php
  tests/Console/EnsureSyncCommandTest.php
  tests/Console/Fixtures/with-only-used-hooks.php
  tests/Console/Fixtures/with-unused-hook.php
  tests/Console/UnusedHookForTesting.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Add cloud setup script for Claude Code on the web
  .claude/setup.sh
Due: none

Add cloud setup script for Claude Code on the web (#50)
  .claude/setup.sh
Due: none

Harden cloud setup script with apt retries, manual PPA, composer bootstrap
  .claude/setup.sh
Due: none

Add SessionStart hook to install composer dependencies
  .claude/hooks/session-start.sh
  .claude/settings.json
Due: none

Add Claude session start hook for composer dependency installation (#51)
  .claude/hooks/session-start.sh
  .claude/settings.json
Due: none

Disable reportUnmatchedIgnoredErrors in PHPStan fixtures config
  tests/PHPStan/phpstan.neon
Due: phpstan

Allow composer plugins in session-start hook
  .claude/hooks/session-start.sh
Due: none

Fix Composer superuser mode and PHPStan error reporting (#52)
  .claude/hooks/session-start.sh
  tests/PHPStan/phpstan.neon
Due: phpstan

Assert RestrictedUsageExtension errors via JSON comparison
  tests/PHPStan/RestrictedUsageExtensionTest.php
  tests/PHPStan/phpstan.neon
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Improve PHPStan test assertions with JSON output validation (#53)
  tests/PHPStan/RestrictedUsageExtensionTest.php
  tests/PHPStan/phpstan.neon
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Emit hook inputs via public properties instead of $this->data
  src/Executor/PlanExecutor.php
  src/Generator/DataClassGenerator.php
  tests/Hooks/Generated/Query/Test/Data/Viewer/Project.php
  tests/HooksWithCustomTypeInitializer/Generated/Query/Test/Data/Viewer/Project.php
  tests/HooksWithFragmentSpread/Generated/Fragment/ProjectSummary.php
  tests/HooksWithListReturn/Generated/Query/Test/Data/Viewer/Project.php
  tests/HooksWithSymfonyAutowire/Generated/Query/Test/Data/Viewer/Project.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Emit hook inputs via public properties instead of $this->data (#54)
  src/Executor/PlanExecutor.php
  src/Generator/DataClassGenerator.php
  tests/Hooks/Generated/Query/Test/Data/Viewer/Project.php
  tests/HooksWithCustomTypeInitializer/Generated/Query/Test/Data/Viewer/Project.php
  tests/HooksWithFragmentSpread/Generated/Fragment/ProjectSummary.php
  tests/HooksWithListReturn/Generated/Query/Test/Data/Viewer/Project.php
  tests/HooksWithSymfonyAutowire/Generated/Query/Test/Data/Viewer/Project.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Extend RestrictedUsageExtension test with Twig-sourced fragments
  tests/PHPStan/Generated/SomeFragment.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Complete Twig-fragment test cases and auto-fetch example schema
  lefthook.yaml
  tests/PHPStan/Fixtures/AllowedController.php
  tests/PHPStan/Fixtures/NotAllowedController.php
  tests/PHPStan/RestrictedUsageExtensionTest.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Add SomeFragment test fixture for Twig template restrictions (#55)
  lefthook.yaml
  tests/PHPStan/Fixtures/AllowedController.php
  tests/PHPStan/Fixtures/NotAllowedController.php
  tests/PHPStan/Generated/SomeFragment.php
  tests/PHPStan/RestrictedUsageExtensionTest.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Validate queriesDir exists and is non-empty during planning
  src/Planner.php
  tests/GraphQLTestCase.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Exclude @hook fields from variant presence checks
  src/Planner/SelectionSetPlanner.php
  tests/HooksInUnionVariant/FindUserByIdHook.php
  tests/HooksInUnionVariant/Generated/Query/Test/Data.php
  tests/HooksInUnionVariant/Generated/Query/Test/Data/Thing.php
  tests/HooksInUnionVariant/Generated/Query/Test/Data/Thing/AsVariantA.php
  tests/HooksInUnionVariant/Generated/Query/Test/Data/Thing/AsVariantB.php
  tests/HooksInUnionVariant/Generated/Query/Test/Error.php
  tests/HooksInUnionVariant/Generated/Query/Test/TestQuery.php
  tests/HooksInUnionVariant/HooksInUnionVariantTest.php
  tests/HooksInUnionVariant/Schema.graphql
  tests/HooksInUnionVariant/Test.graphql
  tests/HooksInUnionVariant/User.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Exclude @hook fields from variant presence checks (#56)
  src/Planner/SelectionSetPlanner.php
  tests/HooksInUnionVariant/FindUserByIdHook.php
  tests/HooksInUnionVariant/Generated/Query/Test/Data.php
  tests/HooksInUnionVariant/Generated/Query/Test/Data/Thing.php
  tests/HooksInUnionVariant/Generated/Query/Test/Data/Thing/AsVariantA.php
  tests/HooksInUnionVariant/Generated/Query/Test/Data/Thing/AsVariantB.php
  tests/HooksInUnionVariant/Generated/Query/Test/Error.php
  tests/HooksInUnionVariant/Generated/Query/Test/TestQuery.php
  tests/HooksInUnionVariant/HooksInUnionVariantTest.php
  tests/HooksInUnionVariant/Schema.graphql
  tests/HooksInUnionVariant/Test.graphql
  tests/HooksInUnionVariant/User.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Bump PHPUnit to v13
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-dependency-analyser

Path conditions:
  ensure-sync: any of: *.php
  sync-readme-examples: any of: *.php, *.md
  composer-validate: any of: composer.json, composer.lock
  composer-normalize: any of: composer.json
  composer-dependency-analyser: any of: *.php, composer.json, composer.lock
  php-cs-fixer: any of: *.php
  twig-cs-fixer: any of: *.twig
  phpstan: any of: *.php, *.neon
  phpunit: any of: *.php
