Repository ruudk/graphql-client-code-generator: changes, and which lefthook commands are due for each by the changed paths.
All: ensure-sync, sync-readme-examples, composer-validate, composer-normalize, composer-dependency-analyser, php-cs-fixer, twig-cs-fixer, phpstan, phpunit

lefthook.yaml:

pre-commit:
  parallel: false
  commands:
    ensure-sync:
      glob: "*.php"
      run: bin/graphql-client-code-generator --config=examples/config.php --config=tests/config.php --ensure-sync

    sync-readme-examples:
      glob:
        - "*.php"
        - "*.md"
      run: vendor/bin/readme-examples-sync
      stage_fixed: true

    composer-validate:
      glob:
        - "composer.json"
        - "composer.lock"
      run: composer validate --strict

    composer-normalize:
      glob: "composer.json"
      run: composer normalize --diff
      stage_fixed: true

    composer-dependency-analyser:
      glob:
        - "*.php"
        - "composer.json"
        - "composer.lock"
      run: vendor/bin/composer-dependency-analyser

    php-cs-fixer:
      glob: "*.php"
      run: vendor/bin/php-cs-fixer fix --config .php-cs-fixer.php -- {staged_files}
      stage_fixed: true

    twig-cs-fixer:
      glob: "*.twig"
      run: vendor/bin/twig-cs-fixer fix -- {staged_files}
      stage_fixed: true

    phpstan:
      glob:
      - "*.php"
      - "*.neon"
      run: vendor/bin/phpstan

    phpunit:
      glob: "*.php"
      run: vendor/bin/phpunit

Upgrade sebastian/diff and phpunit/phpunit dependencies (#57)
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-dependency-analyser

Tighten PHPUnit strictness settings
  phpunit.xml
Due: none

Consolidate PHPUnit strict mode configuration (#58)
  phpunit.xml
Due: none

Drop fragment-field hoisting from generated data classes
  README.md
  src/Planner.php
  src/Planner/FieldCollection.php
  src/Planner/PlanningContext.php
  src/Planner/SelectionSetPlanner.php
  src/TypeMapper.php
  tests/Fragments/FragmentsTest.php
  tests/Fragments/Generated/Query/Test/Data/Project.php
  tests/Fragments/Generated/Query/Test/Data/Viewer.php
  tests/HooksWithFragmentSpread/Generated/Query/Test/Data/Viewer/Project.php
  tests/HooksWithFragmentSpread/HooksWithFragmentSpreadTest.php
  tests/Planner/SelectionSetPlannerTest.php
  tests/Twig/Generated/Query/Projectsd4cba6/Data.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Allow sebastian/diff v7 and v8
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-dependency-analyser

Drop fragment-field hoisting and update sebastian/diff (#59)
  README.md
  composer.json
  composer.lock
  src/Planner.php
  src/Planner/FieldCollection.php
  src/Planner/PlanningContext.php
  src/Planner/SelectionSetPlanner.php
  src/TypeMapper.php
  tests/Fragments/FragmentsTest.php
  tests/Fragments/Generated/Query/Test/Data/Project.php
  tests/Fragments/Generated/Query/Test/Data/Viewer.php
  tests/HooksWithFragmentSpread/Generated/Query/Test/Data/Viewer/Project.php
  tests/HooksWithFragmentSpread/HooksWithFragmentSpreadTest.php
  tests/Planner/SelectionSetPlannerTest.php
  tests/Twig/Generated/Query/Projectsd4cba6/Data.php
Due: ensure-sync, sync-readme-examples, composer-validate, composer-normalize, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Add #[GeneratedGraphQLFragment] for service-owned data contracts
  README.md
  src/Attribute/GeneratedGraphQLFragment.php
  src/GraphQL/DocumentNodeWithSource.php
  src/GraphQL/FragmentDefinitionNodeWithSource.php
  src/PHP/Visitor/FragmentFinder.php
  src/Planner.php
  src/Planner/Plan/DataClassPlan.php
  src/Planner/SelectionSetPlanner.php
  src/Planner/Source/InlineFragmentSource.php
  tests/InlineFragment/FeaturedUsersClient.php
  tests/InlineFragment/Generated/Fragment/UserName56995d/UserName.php
  tests/InlineFragment/Generated/Query/FeaturedUsers5a9829/Data.php
  tests/InlineFragment/Generated/Query/FeaturedUsers5a9829/Data/FeaturedUser.php
  tests/InlineFragment/Generated/Query/FeaturedUsers5a9829/Error.php
  tests/InlineFragment/Generated/Query/FeaturedUsers5a9829/FeaturedUsersQuery.php
  tests/InlineFragment/Generated/Query/ListUsers9908fe/Data.php
  tests/InlineFragment/Generated/Query/ListUsers9908fe/Data/User.php
  tests/InlineFragment/Generated/Query/ListUsers9908fe/Error.php
  tests/InlineFragment/Generated/Query/ListUsers9908fe/ListUsersQuery.php
  tests/InlineFragment/InlineFragmentTest.php
  tests/InlineFragment/ListUsersClient.php
  tests/InlineFragment/Schema.graphql
  tests/InlineFragment/UserMapper.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Bump ramsey/composer-install
  .github/workflows/ci.yml
Due: none

Add #[GeneratedGraphQLFragment] for service-owned data contracts (#60)
  .github/workflows/ci.yml
  README.md
  src/Attribute/GeneratedGraphQLFragment.php
  src/GraphQL/DocumentNodeWithSource.php
  src/GraphQL/FragmentDefinitionNodeWithSource.php
  src/PHP/Visitor/FragmentFinder.php
  src/Planner.php
  src/Planner/Plan/DataClassPlan.php
  src/Planner/SelectionSetPlanner.php
  src/Planner/Source/InlineFragmentSource.php
  tests/InlineFragment/FeaturedUsersClient.php
  tests/InlineFragment/Generated/Fragment/UserName56995d/UserName.php
  tests/InlineFragment/Generated/Query/FeaturedUsers5a9829/Data.php
  tests/InlineFragment/Generated/Query/FeaturedUsers5a9829/Data/FeaturedUser.php
  tests/InlineFragment/Generated/Query/FeaturedUsers5a9829/Error.php
  tests/InlineFragment/Generated/Query/FeaturedUsers5a9829/FeaturedUsersQuery.php
  tests/InlineFragment/Generated/Query/ListUsers9908fe/Data.php
  tests/InlineFragment/Generated/Query/ListUsers9908fe/Data/User.php
  tests/InlineFragment/Generated/Query/ListUsers9908fe/Error.php
  tests/InlineFragment/Generated/Query/ListUsers9908fe/ListUsersQuery.php
  tests/InlineFragment/InlineFragmentTest.php
  tests/InlineFragment/ListUsersClient.php
  tests/InlineFragment/Schema.graphql
  tests/InlineFragment/UserMapper.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Inline possible types at fragment check sites
  examples/Generated/Query/Search/Data/SearchResultItemConnection/Node/AsIssue.php
  phpstan.php
  src/Generator/DataClassGenerator.php
  tests/Fragments/Generated/Fragment/ViewerName.php
  tests/Fragments/Generated/Query/Test/Data/Viewer.php
  tests/HooksInUnionVariant/Generated/Query/Test/Data/Thing/AsVariantA.php
  tests/HooksInUnionVariant/Generated/Query/Test/Data/Thing/AsVariantB.php
  tests/IncludeAndSkipDirective/Generated/Query/Test/Data/Viewer.php
  tests/InlineFragments/Generated/Query/Test/Data/Viewer.php
  tests/InlineFragments/Generated/Query/Test/Data/Viewer/AsApplication.php
  tests/InlineFragments/Generated/Query/Test/Data/Viewer/AsUser.php
  tests/Optimization/Generated/Query/Test/Data/Viewer.php
  tests/Optimization/Generated/Query/Test/Data/Viewer/AsUser.php
  tests/Twig/Generated/Fragment/AdminProjectList/Viewer.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Inline possible types at fragment check sites (#61)
  examples/Generated/Query/Search/Data/SearchResultItemConnection/Node/AsIssue.php
  phpstan.php
  src/Generator/DataClassGenerator.php
  tests/Fragments/Generated/Fragment/ViewerName.php
  tests/Fragments/Generated/Query/Test/Data/Viewer.php
  tests/HooksInUnionVariant/Generated/Query/Test/Data/Thing/AsVariantA.php
  tests/HooksInUnionVariant/Generated/Query/Test/Data/Thing/AsVariantB.php
  tests/IncludeAndSkipDirective/Generated/Query/Test/Data/Viewer.php
  tests/InlineFragments/Generated/Query/Test/Data/Viewer.php
  tests/InlineFragments/Generated/Query/Test/Data/Viewer/AsApplication.php
  tests/InlineFragments/Generated/Query/Test/Data/Viewer/AsUser.php
  tests/Optimization/Generated/Query/Test/Data/Viewer.php
  tests/Optimization/Generated/Query/Test/Data/Viewer/AsUser.php
  tests/Twig/Generated/Fragment/AdminProjectList/Viewer.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Split enableDumpOrThrows into method and property toggles
  src/Config/Config.php
  src/Generator/DataClassGenerator.php
  src/Generator/OperationClassGenerator.php
  src/Planner.php
  tests/DumpOrThrows/DumpOrThrowsTest.php
  tests/IncludeAndSkipDirective/IncludeAndSkipDirectiveTest.php
  tests/InlineProcessing/InlineProcessingTest.php
  tests/Twig/TwigTest.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Split enableDumpOrThrows into method and property toggles (#62)
  src/Config/Config.php
  src/Generator/DataClassGenerator.php
  src/Generator/OperationClassGenerator.php
  src/Planner.php
  tests/DumpOrThrows/DumpOrThrowsTest.php
  tests/IncludeAndSkipDirective/IncludeAndSkipDirectiveTest.php
  tests/InlineProcessing/InlineProcessingTest.php
  tests/Twig/TwigTest.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Add @throwWhenNull directive for non-null property generation
  README.md
  src/Config/Config.php
  src/Console/GenerateCommand.php
  src/DirectiveProcessor.php
  src/Generator/DataClassGenerator.php
  src/GraphQL/ThrowWhenNullDirectiveSchemaExtender.php
  src/Planner.php
  src/Planner/FieldCollection.php
  src/Planner/SelectionSetPlanner.php
  src/SchemaLoader.php
  src/Type/ThrowWhenNullPropertyType.php
  src/Visitor/ThrowWhenNullRemover.php
  tests/ThrowWhenNullDirective/Generated/NodeNotFoundException.php
  tests/ThrowWhenNullDirective/Generated/Query/Test/Data.php
  tests/ThrowWhenNullDirective/Generated/Query/Test/Data/Viewer.php
  tests/ThrowWhenNullDirective/Generated/Query/Test/Data/Viewer/Project.php
  tests/ThrowWhenNullDirective/Generated/Query/Test/Error.php
  tests/ThrowWhenNullDirective/Generated/Query/Test/TestQuery.php
  tests/ThrowWhenNullDirective/Schema.graphql
  tests/ThrowWhenNullDirective/Test.graphql
  tests/ThrowWhenNullDirective/ThrowWhenNullDirectiveTest.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Add @throwWhenNull directive for non-null property generation (#63)
  README.md
  src/Config/Config.php
  src/Console/GenerateCommand.php
  src/DirectiveProcessor.php
  src/Generator/DataClassGenerator.php
  src/GraphQL/ThrowWhenNullDirectiveSchemaExtender.php
  src/Planner.php
  src/Planner/FieldCollection.php
  src/Planner/SelectionSetPlanner.php
  src/SchemaLoader.php
  src/Type/ThrowWhenNullPropertyType.php
  src/Visitor/ThrowWhenNullRemover.php
  tests/ThrowWhenNullDirective/Generated/NodeNotFoundException.php
  tests/ThrowWhenNullDirective/Generated/Query/Test/Data.php
  tests/ThrowWhenNullDirective/Generated/Query/Test/Data/Viewer.php
  tests/ThrowWhenNullDirective/Generated/Query/Test/Data/Viewer/Project.php
  tests/ThrowWhenNullDirective/Generated/Query/Test/Error.php
  tests/ThrowWhenNullDirective/Generated/Query/Test/TestQuery.php
  tests/ThrowWhenNullDirective/Schema.graphql
  tests/ThrowWhenNullDirective/Test.graphql
  tests/ThrowWhenNullDirective/ThrowWhenNullDirectiveTest.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Propagate hook usage through @throwWhenNull fields
  src/Planner.php
  tests/HooksThroughSoleFragmentSpread/DiscountCode.php
  tests/HooksThroughSoleFragmentSpread/FindDiscountCodeByIdHook.php
  tests/HooksThroughSoleFragmentSpread/Generated/Fragment/ShowPaymentFlow.php
  tests/HooksThroughSoleFragmentSpread/Generated/Fragment/ShowPaymentFlow/Order.php
  tests/HooksThroughSoleFragmentSpread/Generated/NodeNotFoundException.php
  tests/HooksThroughSoleFragmentSpread/Generated/Query/Test/Data.php
  tests/HooksThroughSoleFragmentSpread/Generated/Query/Test/Data/PaymentFlow.php
  tests/HooksThroughSoleFragmentSpread/Generated/Query/Test/Error.php
  tests/HooksThroughSoleFragmentSpread/Generated/Query/Test/TestQuery.php
  tests/HooksThroughSoleFragmentSpread/HooksThroughSoleFragmentSpreadTest.php
  tests/HooksThroughSoleFragmentSpread/Schema.graphql
  tests/HooksThroughSoleFragmentSpread/ShowPaymentFlow.graphql
  tests/HooksThroughSoleFragmentSpread/Test.graphql
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Propagate hook usage through @throwWhenNull fields (#64)
  src/Planner.php
  tests/HooksThroughSoleFragmentSpread/DiscountCode.php
  tests/HooksThroughSoleFragmentSpread/FindDiscountCodeByIdHook.php
  tests/HooksThroughSoleFragmentSpread/Generated/Fragment/ShowPaymentFlow.php
  tests/HooksThroughSoleFragmentSpread/Generated/Fragment/ShowPaymentFlow/Order.php
  tests/HooksThroughSoleFragmentSpread/Generated/NodeNotFoundException.php
  tests/HooksThroughSoleFragmentSpread/Generated/Query/Test/Data.php
  tests/HooksThroughSoleFragmentSpread/Generated/Query/Test/Data/PaymentFlow.php
  tests/HooksThroughSoleFragmentSpread/Generated/Query/Test/Error.php
  tests/HooksThroughSoleFragmentSpread/Generated/Query/Test/TestQuery.php
  tests/HooksThroughSoleFragmentSpread/HooksThroughSoleFragmentSpreadTest.php
  tests/HooksThroughSoleFragmentSpread/Schema.graphql
  tests/HooksThroughSoleFragmentSpread/ShowPaymentFlow.graphql
  tests/HooksThroughSoleFragmentSpread/Test.graphql
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Tag execute methods with @api PHPDoc
  README.md
  examples/Generated/Query/Search/SearchQuery.php
  examples/Generated/Query/Viewer/ViewerQuery.php
  src/Generator/OperationClassGenerator.php
  tests/ConnectionNames/Generated/Query/Test/TestQuery.php
  tests/DumpDefinitions/Generated/Query/Test/TestQuery.php
  tests/DumpOrThrows/Generated/Query/Test/TestQuery.php
  tests/Enum/Generated/Query/Test/TestQuery.php
  tests/EnumDumpIsMethods/Generated/Query/Test/TestQuery.php
  tests/FragmentIsolation/Generated/Query/GetWorkflowForAdmin/GetWorkflowForAdminQuery.php
  tests/FragmentSpreadBug/Generated/Query/GetTransactionDetails/GetTransactionDetailsQuery.php
  tests/Fragments/Generated/Query/Test/TestQuery.php
  tests/Hooks/Generated/Query/Test/TestQuery.php
  tests/HooksInUnionVariant/Generated/Query/Test/TestQuery.php
  tests/HooksThroughSoleFragmentSpread/Generated/Query/Test/TestQuery.php
  tests/HooksWithCustomTypeInitializer/Generated/Query/Test/TestQuery.php
  tests/HooksWithFragmentSpread/Generated/Query/Test/TestQuery.php
  tests/HooksWithListReturn/Generated/Query/Test/TestQuery.php
  tests/HooksWithSymfonyAutowire/Generated/Query/Test/TestQuery.php
  tests/IncludeAndSkipDirective/Generated/Query/Test/TestQuery.php
  tests/IndexByDirective/Generated/Query/Test/TestQuery.php
  tests/IndexByDirective/Generated/Query/TestMultiField/TestMultiFieldQuery.php
  tests/InlineFragment/Generated/Query/FeaturedUsers5a9829/FeaturedUsersQuery.php
  tests/InlineFragment/Generated/Query/ListUsers9908fe/ListUsersQuery.php
  tests/InlineFragments/Generated/Query/Test/TestQuery.php
  tests/InlineProcessing/Generated/Query/ViewerProjects1d8480/ViewerProjectsQuery.php
  tests/Input/Generated/Mutation/Test/TestMutation.php
  tests/ListScalar/Generated/Query/Test/TestQuery.php
  tests/Money/Generated/Query/ConvertMoney/ConvertMoneyQuery.php
  tests/NoIndexBy/Generated/Query/Test/TestQuery.php
  tests/NullableConnections/Generated/Query/Test/TestQuery.php
  tests/OneOfDirective/Generated/Query/Test/TestQuery.php
  tests/Optimization/Generated/Query/Test/TestQuery.php
  tests/Simple/Generated/Query/Test/TestQuery.php
  tests/StaleImportRemoval/Generated/Query/GetViewer6b9a6d/GetViewerQuery.php
  tests/SymfonyExclude/Generated/Query/Test/TestQuery.php
  tests/ThrowWhenNullDirective/Generated/Query/Test/TestQuery.php
  tests/Twig/Generated/Query/Projectsd4cba6/ProjectsQuery.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Tag execute methods with @api PHPDoc (#65)
  README.md
  examples/Generated/Query/Search/SearchQuery.php
  examples/Generated/Query/Viewer/ViewerQuery.php
  src/Generator/OperationClassGenerator.php
  tests/ConnectionNames/Generated/Query/Test/TestQuery.php
  tests/DumpDefinitions/Generated/Query/Test/TestQuery.php
  tests/DumpOrThrows/Generated/Query/Test/TestQuery.php
  tests/Enum/Generated/Query/Test/TestQuery.php
  tests/EnumDumpIsMethods/Generated/Query/Test/TestQuery.php
  tests/FragmentIsolation/Generated/Query/GetWorkflowForAdmin/GetWorkflowForAdminQuery.php
  tests/FragmentSpreadBug/Generated/Query/GetTransactionDetails/GetTransactionDetailsQuery.php
  tests/Fragments/Generated/Query/Test/TestQuery.php
  tests/Hooks/Generated/Query/Test/TestQuery.php
  tests/HooksInUnionVariant/Generated/Query/Test/TestQuery.php
  tests/HooksThroughSoleFragmentSpread/Generated/Query/Test/TestQuery.php
  tests/HooksWithCustomTypeInitializer/Generated/Query/Test/TestQuery.php
  tests/HooksWithFragmentSpread/Generated/Query/Test/TestQuery.php
  tests/HooksWithListReturn/Generated/Query/Test/TestQuery.php
  tests/HooksWithSymfonyAutowire/Generated/Query/Test/TestQuery.php
  tests/IncludeAndSkipDirective/Generated/Query/Test/TestQuery.php
  tests/IndexByDirective/Generated/Query/Test/TestQuery.php
  tests/IndexByDirective/Generated/Query/TestMultiField/TestMultiFieldQuery.php
  tests/InlineFragment/Generated/Query/FeaturedUsers5a9829/FeaturedUsersQuery.php
  tests/InlineFragment/Generated/Query/ListUsers9908fe/ListUsersQuery.php
  tests/InlineFragments/Generated/Query/Test/TestQuery.php
  tests/InlineProcessing/Generated/Query/ViewerProjects1d8480/ViewerProjectsQuery.php
  tests/Input/Generated/Mutation/Test/TestMutation.php
  tests/ListScalar/Generated/Query/Test/TestQuery.php
  tests/Money/Generated/Query/ConvertMoney/ConvertMoneyQuery.php
  tests/NoIndexBy/Generated/Query/Test/TestQuery.php
  tests/NullableConnections/Generated/Query/Test/TestQuery.php
  tests/OneOfDirective/Generated/Query/Test/TestQuery.php
  tests/Optimization/Generated/Query/Test/TestQuery.php
  tests/Simple/Generated/Query/Test/TestQuery.php
  tests/StaleImportRemoval/Generated/Query/GetViewer6b9a6d/GetViewerQuery.php
  tests/SymfonyExclude/Generated/Query/Test/TestQuery.php
  tests/ThrowWhenNullDirective/Generated/Query/Test/TestQuery.php
  tests/Twig/Generated/Query/Projectsd4cba6/ProjectsQuery.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Tag mutation Data fields with @api PHPDoc
  src/Generator/DataClassGenerator.php
  tests/Input/Generated/Mutation/Test/Data.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Tag mutation Data fields with @api PHPDoc (#66)
  src/Generator/DataClassGenerator.php
  tests/Input/Generated/Mutation/Test/Data.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Keep auto-injected __typename out of the public API
  src/GraphQL/AST/InjectedTypenameFieldNode.php
  src/Planner/SelectionSetPlanner.php
  src/Visitor/TypeNameVisitor.php
  tests/ExplicitTypename/ExplicitTypenameTest.php
  tests/ExplicitTypename/Generated/Fragment/UserDetails.php
  tests/ExplicitTypename/Generated/Query/Test/Data.php
  tests/ExplicitTypename/Generated/Query/Test/Data/Viewer.php
  tests/ExplicitTypename/Generated/Query/Test/Data/Viewer/AsApplication.php
  tests/ExplicitTypename/Generated/Query/Test/Error.php
  tests/ExplicitTypename/Generated/Query/Test/TestQuery.php
  tests/ExplicitTypename/Schema.graphql
  tests/ExplicitTypename/Test.graphql
  tests/Fragments/FragmentsTest.php
  tests/InlineFragments/Generated/Query/Test/Data/Viewer.php
  tests/InlineFragments/InlineFragmentsTest.php
  tests/Optimization/Generated/Query/Test/Data/Viewer.php
  tests/Optimization/Generated/Query/Test/Data/Viewer/AsUser.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Keep auto-injected __typename out of the public API (#67)
  src/GraphQL/AST/InjectedTypenameFieldNode.php
  src/Planner/SelectionSetPlanner.php
  src/Visitor/TypeNameVisitor.php
  tests/ExplicitTypename/ExplicitTypenameTest.php
  tests/ExplicitTypename/Generated/Fragment/UserDetails.php
  tests/ExplicitTypename/Generated/Query/Test/Data.php
  tests/ExplicitTypename/Generated/Query/Test/Data/Viewer.php
  tests/ExplicitTypename/Generated/Query/Test/Data/Viewer/AsApplication.php
  tests/ExplicitTypename/Generated/Query/Test/Error.php
  tests/ExplicitTypename/Generated/Query/Test/TestQuery.php
  tests/ExplicitTypename/Schema.graphql
  tests/ExplicitTypename/Test.graphql
  tests/Fragments/FragmentsTest.php
  tests/InlineFragments/Generated/Query/Test/Data/Viewer.php
  tests/InlineFragments/InlineFragmentsTest.php
  tests/Optimization/Generated/Query/Test/Data/Viewer.php
  tests/Optimization/Generated/Query/Test/Data/Viewer/AsUser.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Tag fire-and-forget mutation __typename as @api
  src/Generator/DataClassGenerator.php
  src/Planner/Plan/DataClassPlan.php
  src/Planner/SelectionSetPlanner.php
  tests/MutationTypename/Generated/Mutation/Test/Data.php
  tests/MutationTypename/Generated/Mutation/Test/Data/FireAndForget.php
  tests/MutationTypename/Generated/Mutation/Test/Data/Nested.php
  tests/MutationTypename/Generated/Mutation/Test/Data/Nested/Inner.php
  tests/MutationTypename/Generated/Mutation/Test/Data/WithExtraFields.php
  tests/MutationTypename/Generated/Mutation/Test/Error.php
  tests/MutationTypename/Generated/Mutation/Test/TestMutation.php
  tests/MutationTypename/MutationTypenameTest.php
  tests/MutationTypename/Schema.graphql
  tests/MutationTypename/Test.graphql
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Tag fire-and-forget mutation __typename as @api (#68)
  src/Generator/DataClassGenerator.php
  src/Planner/Plan/DataClassPlan.php
  src/Planner/SelectionSetPlanner.php
  tests/MutationTypename/Generated/Mutation/Test/Data.php
  tests/MutationTypename/Generated/Mutation/Test/Data/FireAndForget.php
  tests/MutationTypename/Generated/Mutation/Test/Data/Nested.php
  tests/MutationTypename/Generated/Mutation/Test/Data/Nested/Inner.php
  tests/MutationTypename/Generated/Mutation/Test/Data/WithExtraFields.php
  tests/MutationTypename/Generated/Mutation/Test/Error.php
  tests/MutationTypename/Generated/Mutation/Test/TestMutation.php
  tests/MutationTypename/MutationTypenameTest.php
  tests/MutationTypename/Schema.graphql
  tests/MutationTypename/Test.graphql
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Tag generated is<Fragment> helpers with @api
  examples/Generated/Query/Search/Data/SearchResultItemConnection/Node.php
  src/Generator/DataClassGenerator.php
  tests/ExplicitTypename/Generated/Query/Test/Data/Viewer.php
  tests/Fragments/Generated/Query/Test/Data/Viewer.php
  tests/HooksInUnionVariant/Generated/Query/Test/Data/Thing.php
  tests/InlineFragments/Generated/Query/Test/Data/Viewer.php
  tests/Optimization/Generated/Query/Test/Data/Viewer.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Tag generated is<Fragment> helpers with @api (#69)
  examples/Generated/Query/Search/Data/SearchResultItemConnection/Node.php
  src/Generator/DataClassGenerator.php
  tests/ExplicitTypename/Generated/Query/Test/Data/Viewer.php
  tests/Fragments/Generated/Query/Test/Data/Viewer.php
  tests/HooksInUnionVariant/Generated/Query/Test/Data/Thing.php
  tests/InlineFragments/Generated/Query/Test/Data/Viewer.php
  tests/Optimization/Generated/Query/Test/Data/Viewer.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Guard against unused fragments
  src/Console/GenerateCommand.php
  src/Planner.php
  src/Planner/PlannerResult.php
  tests/UnusedFragment/Schema.graphql
  tests/UnusedFragment/UnusedFragmentTest.php
  tests/UnusedFragment/graphql/Orphan.graphql
  tests/UnusedFragment/graphql/Test.graphql
  tests/UnusedFragment/templates/widget.html.twig
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, twig-cs-fixer, phpstan, phpunit

Guard against unused fragments (#70)
  src/Console/GenerateCommand.php
  src/Planner.php
  src/Planner/PlannerResult.php
  tests/UnusedFragment/Schema.graphql
  tests/UnusedFragment/UnusedFragmentTest.php
  tests/UnusedFragment/graphql/Orphan.graphql
  tests/UnusedFragment/graphql/Test.graphql
  tests/UnusedFragment/templates/widget.html.twig
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, twig-cs-fixer, phpstan, phpunit

Tag sole __typename on a list as @api
  src/Planner/SelectionSetPlanner.php
  tests/ListTypename/Generated/Query/Test/Data.php
  tests/ListTypename/Generated/Query/Test/Data/Field.php
  tests/ListTypename/Generated/Query/Test/Data/Field/MultiList.php
  tests/ListTypename/Generated/Query/Test/Data/Field/Single.php
  tests/ListTypename/Generated/Query/Test/Data/Field/SoleList.php
  tests/ListTypename/Generated/Query/Test/Error.php
  tests/ListTypename/Generated/Query/Test/TestQuery.php
  tests/ListTypename/ListTypenameTest.php
  tests/ListTypename/Schema.graphql
  tests/ListTypename/Test.graphql
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Tag sole `__typename` on a list as `@api` (#71)
  src/Planner/SelectionSetPlanner.php
  tests/ListTypename/Generated/Query/Test/Data.php
  tests/ListTypename/Generated/Query/Test/Data/Field.php
  tests/ListTypename/Generated/Query/Test/Data/Field/MultiList.php
  tests/ListTypename/Generated/Query/Test/Data/Field/Single.php
  tests/ListTypename/Generated/Query/Test/Data/Field/SoleList.php
  tests/ListTypename/Generated/Query/Test/Error.php
  tests/ListTypename/Generated/Query/Test/TestQuery.php
  tests/ListTypename/ListTypenameTest.php
  tests/ListTypename/Schema.graphql
  tests/ListTypename/Test.graphql
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Add Twig CS Fixer rule to format GraphQL blocks
  .twig-cs-fixer.php
  README.md
  composer-dependency-analyser.php
  src/Twig/GraphQLFormatterRule.php
  tests/GraphQLFormatterRule/GraphQLFormatterRuleTest.php
  tests/GraphQLFormatterRule/templates/formatted.html.twig.fixture
  tests/GraphQLFormatterRule/templates/invalid.html.twig.fixture
  tests/GraphQLFormatterRule/templates/unformatted.html.twig.fixture
  tests/Twig/templates/_project_options.html.twig
  tests/Twig/templates/_project_row.html.twig
  tests/Twig/templates/list.html.twig
  tests/UnusedFragment/templates/widget.html.twig
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, twig-cs-fixer, phpstan, phpunit

Document the GraphQL Twig CS Fixer rule in the README
  README.md
Due: sync-readme-examples

Add Twig CS Fixer rule to auto-format GraphQL blocks (#72)
  .twig-cs-fixer.php
  README.md
  composer-dependency-analyser.php
  src/Twig/GraphQLFormatterRule.php
  tests/GraphQLFormatterRule/GraphQLFormatterRuleTest.php
  tests/GraphQLFormatterRule/templates/formatted.html.twig.fixture
  tests/GraphQLFormatterRule/templates/invalid.html.twig.fixture
  tests/GraphQLFormatterRule/templates/unformatted.html.twig.fixture
  tests/Twig/templates/_project_options.html.twig
  tests/Twig/templates/_project_row.html.twig
  tests/Twig/templates/list.html.twig
  tests/UnusedFragment/templates/widget.html.twig
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, twig-cs-fixer, phpstan, phpunit

Implement FixerInterface directly instead of AbstractFixer
  .php-cs-fixer.php
  README.md
  phpstan.php
  src/PhpCsFixer/GraphQLHeredocFixer.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Add PHP CS Fixer rule to format GraphQL heredocs
  .php-cs-fixer.php
  README.md
  composer-dependency-analyser.php
  phpstan.php
  src/PhpCsFixer/GraphQLHeredocFixer.php
  tests/GraphQLHeredocFixer/GraphQLHeredocFixerTest.php
  tests/GraphQLHeredocFixer/fixtures/formatted.php.fixture
  tests/GraphQLHeredocFixer/fixtures/invalid.php.fixture
  tests/GraphQLHeredocFixer/fixtures/skipped.php.fixture
  tests/GraphQLHeredocFixer/fixtures/unformatted.php.fixture
  tests/InlineFragment/FeaturedUsersClient.php
  tests/InlineFragment/ListUsersClient.php
  tests/InlineFragment/UserMapper.php
  tests/InlineProcessing/SomeController.php
  tests/Planner/PayloadShapeBuilderTest.php
  tests/StaleImportRemoval/ControllerWithStaleImport.php
  tests/Twig/SomeController.php
  tests/Validator/IndexByValidatorTest.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Add PHP CS Fixer rule to format GraphQL heredocs (#73)
  .php-cs-fixer.php
  README.md
  composer-dependency-analyser.php
  src/PhpCsFixer/GraphQLHeredocFixer.php
  tests/GraphQLHeredocFixer/GraphQLHeredocFixerTest.php
  tests/GraphQLHeredocFixer/fixtures/formatted.php.fixture
  tests/GraphQLHeredocFixer/fixtures/invalid.php.fixture
  tests/GraphQLHeredocFixer/fixtures/skipped.php.fixture
  tests/GraphQLHeredocFixer/fixtures/unformatted.php.fixture
  tests/InlineFragment/FeaturedUsersClient.php
  tests/InlineFragment/ListUsersClient.php
  tests/InlineFragment/UserMapper.php
  tests/InlineProcessing/SomeController.php
  tests/Planner/PayloadShapeBuilderTest.php
  tests/StaleImportRemoval/ControllerWithStaleImport.php
  tests/Twig/SomeController.php
  tests/Validator/IndexByValidatorTest.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Stop merging parent fields into inline-fragment classes
  examples/Generated/Query/Search/Data/SearchResultItemConnection/Node/AsIssue.php
  src/Planner/FieldCollection.php
  src/Planner/PayloadShape.php
  src/Planner/SelectionSetPlanner.php
  tests/ExplicitTypename/ExplicitTypenameTest.php
  tests/ExplicitTypename/Generated/Query/Test/Data/Viewer.php
  tests/ExplicitTypename/Generated/Query/Test/TestQuery.php
  tests/ExplicitTypename/Test.graphql
  tests/HooksInUnionVariant/Generated/Query/Test/Data/Thing.php
  tests/HooksInUnionVariant/Generated/Query/Test/Data/Thing/AsVariantA.php
  tests/HooksInUnionVariant/Generated/Query/Test/Data/Thing/AsVariantB.php
  tests/HooksInUnionVariant/Generated/Query/Test/TestQuery.php
  tests/HooksInUnionVariant/Test.graphql
  tests/InlineFragments/Generated/Query/Test/Data/Viewer/AsApplication.php
  tests/InlineFragments/Generated/Query/Test/Data/Viewer/AsUser.php
  tests/InlineFragments/InlineFragmentsTest.php
  tests/Optimization/Generated/Query/Test/Data/Viewer/AsUser.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Stop merging parent fields into inline-fragment classes (#75)
  examples/Generated/Query/Search/Data/SearchResultItemConnection/Node/AsIssue.php
  src/Planner/FieldCollection.php
  src/Planner/PayloadShape.php
  src/Planner/SelectionSetPlanner.php
  tests/ExplicitTypename/ExplicitTypenameTest.php
  tests/ExplicitTypename/Generated/Query/Test/Data/Viewer.php
  tests/ExplicitTypename/Generated/Query/Test/TestQuery.php
  tests/ExplicitTypename/Test.graphql
  tests/HooksInUnionVariant/Generated/Query/Test/Data/Thing.php
  tests/HooksInUnionVariant/Generated/Query/Test/Data/Thing/AsVariantA.php
  tests/HooksInUnionVariant/Generated/Query/Test/Data/Thing/AsVariantB.php
  tests/HooksInUnionVariant/Generated/Query/Test/TestQuery.php
  tests/HooksInUnionVariant/Test.graphql
  tests/InlineFragments/Generated/Query/Test/Data/Viewer/AsApplication.php
  tests/InlineFragments/Generated/Query/Test/Data/Viewer/AsUser.php
  tests/InlineFragments/InlineFragmentsTest.php
  tests/Optimization/Generated/Query/Test/Data/Viewer/AsUser.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Add Twig CS Fixer rule to detect GraphQL overfetching
  .twig-cs-fixer.php
  README.md
  src/Twig/GraphQLOverfetchingRule.php
  src/Twig/Overfetching/Binding.php
  src/Twig/Overfetching/OverfetchingAnalyzer.php
  src/Twig/Overfetching/Scope.php
  src/Twig/Overfetching/Shape.php
  src/Twig/Overfetching/ShapeProperty.php
  src/Twig/Overfetching/ShapeReader.php
  tests/GraphQLOverfetchingRule/GraphQLOverfetchingRuleTest.php
  tests/GraphQLOverfetchingRule/templates/no_overfetching.html.twig.fixture
  tests/GraphQLOverfetchingRule/templates/overfetching.html.twig.fixture
  tests/GraphQLOverfetchingRule/templates/overfetching_nested.html.twig.fixture
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit
