Repository ruudk/graphql-client-code-generator: changes, and which lefthook commands are due for each by the changed paths.
All: ensure-sync, sync-readme-examples, composer-validate, composer-normalize, composer-dependency-analyser, php-cs-fixer, twig-cs-fixer, phpstan, phpunit

lefthook.yaml:

pre-commit:
  parallel: false
  commands:
    ensure-sync:
      glob: "*.php"
      run: bin/graphql-client-code-generator --config=examples/config.php --config=tests/config.php --ensure-sync

    sync-readme-examples:
      glob:
        - "*.php"
        - "*.md"
      run: vendor/bin/readme-examples-sync
      stage_fixed: true

    composer-validate:
      glob:
        - "composer.json"
        - "composer.lock"
      run: composer validate --strict

    composer-normalize:
      glob: "composer.json"
      run: composer normalize --diff
      stage_fixed: true

    composer-dependency-analyser:
      glob:
        - "*.php"
        - "composer.json"
        - "composer.lock"
      run: vendor/bin/composer-dependency-analyser

    php-cs-fixer:
      glob: "*.php"
      run: vendor/bin/php-cs-fixer fix --config .php-cs-fixer.php -- {staged_files}
      stage_fixed: true

    twig-cs-fixer:
      glob: "*.twig"
      run: vendor/bin/twig-cs-fixer fix -- {staged_files}
      stage_fixed: true

    phpstan:
      glob:
      - "*.php"
      - "*.neon"
      run: vendor/bin/phpstan

    phpunit:
      glob: "*.php"
      run: vendor/bin/phpunit

Remove old captainhook config file
  captainhook.json
Due: none

Exclude everything and include specific files/folders in gitattributes
  .gitattributes
Due: none

Fix: Pass builtInOnly parameter correctly for list types
  src/TypeMapper.php
  tests/ListScalar/Generated/Query/Test/Data.php
  tests/ListScalar/Generated/Query/Test/Data/Wallet.php
  tests/ListScalar/Generated/Query/Test/Error.php
  tests/ListScalar/Generated/Query/Test/TestQuery.php
  tests/ListScalar/ListScalarTest.php
  tests/ListScalar/Schema.graphql
  tests/ListScalar/Test.graphql
  tests/ListScalar/ValueObjects/Currency.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Use highest/lowest on CI matrix
  .github/workflows/ci.yml
Due: none

Add problem matchers
  .github/workflows/ci.yml
Due: none

Require Symfony 7.4 (LTS) or ^8.0
  bin/graphql-client-code-generator
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-dependency-analyser

Split tests and checks jobs
  .github/workflows/ci.yml
Due: none

Bump requirement for code-generator
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-dependency-analyser

Run tools with ansi enabled
  .github/workflows/ci.yml
Due: none

Require Symfony 7.4 (LTS) or ^8.0 (#30)
  .github/workflows/ci.yml
  bin/graphql-client-code-generator
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-dependency-analyser

Ensure examples are sync in CI
  .github/workflows/ci.yml
Due: none

Fix broken Symfony command
  bin/graphql-client-code-generator
Due: none

Fix broken Symfony command (#31)
  .github/workflows/ci.yml
  bin/graphql-client-code-generator
Due: none

Remove stale generated imports
  phpstan.php
  src/Executor/PlanExecutor.php
  src/PHP/Visitor/StaleImportRemover.php
  tests/StaleImportRemoval/ControllerWithStaleImport.php
  tests/StaleImportRemoval/Generated/Query/GetViewer6b9a6d/Data.php
  tests/StaleImportRemoval/Generated/Query/GetViewer6b9a6d/Data/Viewer.php
  tests/StaleImportRemoval/Generated/Query/GetViewer6b9a6d/Error.php
  tests/StaleImportRemoval/Generated/Query/GetViewer6b9a6d/GetViewerQuery.php
  tests/StaleImportRemoval/Schema.graphql
  tests/StaleImportRemoval/StaleImportRemovalTest.php
  tests/StaleImportRemoval/StaleImportRemoverTest.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Remove stale generated imports (#32)
  phpstan.php
  src/Executor/PlanExecutor.php
  src/PHP/Visitor/StaleImportRemover.php
  tests/StaleImportRemoval/ControllerWithStaleImport.php
  tests/StaleImportRemoval/Generated/Query/GetViewer6b9a6d/Data.php
  tests/StaleImportRemoval/Generated/Query/GetViewer6b9a6d/Data/Viewer.php
  tests/StaleImportRemoval/Generated/Query/GetViewer6b9a6d/Error.php
  tests/StaleImportRemoval/Generated/Query/GetViewer6b9a6d/GetViewerQuery.php
  tests/StaleImportRemoval/Schema.graphql
  tests/StaleImportRemoval/StaleImportRemovalTest.php
  tests/StaleImportRemoval/StaleImportRemoverTest.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Allow webmozart/assert v2
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-dependency-analyser

Allow webmozart/assert v2 (#34)
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-dependency-analyser

Revert "Remove stale generated imports (#32)"
  phpstan.php
  src/Executor/PlanExecutor.php
  src/PHP/Visitor/StaleImportRemover.php
  tests/StaleImportRemoval/ControllerWithStaleImport.php
  tests/StaleImportRemoval/Generated/Query/GetViewer6b9a6d/Data.php
  tests/StaleImportRemoval/Generated/Query/GetViewer6b9a6d/Data/Viewer.php
  tests/StaleImportRemoval/Generated/Query/GetViewer6b9a6d/Error.php
  tests/StaleImportRemoval/Generated/Query/GetViewer6b9a6d/GetViewerQuery.php
  tests/StaleImportRemoval/Schema.graphql
  tests/StaleImportRemoval/StaleImportRemovalTest.php
  tests/StaleImportRemoval/StaleImportRemoverTest.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Revert "Remove stale generated imports" (#35)
  phpstan.php
  src/Executor/PlanExecutor.php
  src/PHP/Visitor/StaleImportRemover.php
  tests/StaleImportRemoval/ControllerWithStaleImport.php
  tests/StaleImportRemoval/Generated/Query/GetViewer6b9a6d/Data.php
  tests/StaleImportRemoval/Generated/Query/GetViewer6b9a6d/Data/Viewer.php
  tests/StaleImportRemoval/Generated/Query/GetViewer6b9a6d/Error.php
  tests/StaleImportRemoval/Generated/Query/GetViewer6b9a6d/GetViewerQuery.php
  tests/StaleImportRemoval/Schema.graphql
  tests/StaleImportRemoval/StaleImportRemovalTest.php
  tests/StaleImportRemoval/StaleImportRemoverTest.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Add regression test for nullable custom scalar union output.
  tests/Generator/AbstractGeneratorTest.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Fix nullable custom scalar type dumping.
  src/Generator/AbstractGenerator.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Fix PHP CS errors
  tests/Generator/AbstractGeneratorTest.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Remove outdated README configuration section
  README.md
Due: sync-readme-examples

Remove outdated README configuration section (#37)
  README.md
Due: sync-readme-examples

Fix generated type for nullable custom scalars (#36)
  src/Generator/AbstractGenerator.php
  tests/Generator/AbstractGeneratorTest.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Mark data property in exceptions as `api`
  src/Generator/ExceptionClassGenerator.php
  tests/DumpOrThrows/Generated/Query/Test/TestQueryFailedException.php
  tests/IncludeAndSkipDirective/Generated/Query/Test/TestQueryFailedException.php
  tests/InlineProcessing/Generated/Query/ViewerProjects1d8480/ViewerProjectsQueryFailedException.php
  tests/Twig/Generated/Query/Projectsd4cba6/ProjectsQueryFailedException.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Mark data property in exceptions as `api` (#38)
  src/Generator/ExceptionClassGenerator.php
  tests/DumpOrThrows/Generated/Query/Test/TestQueryFailedException.php
  tests/IncludeAndSkipDirective/Generated/Query/Test/TestQueryFailedException.php
  tests/InlineProcessing/Generated/Query/ViewerProjects1d8480/ViewerProjectsQueryFailedException.php
  tests/Twig/Generated/Query/Projectsd4cba6/ProjectsQueryFailedException.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Exclude Generated dirs from php-cs-fixer hook
  lefthook.yaml
Due: none

Restrict Twig-sourced generated classes
  src/Generator/DataClassGenerator.php
  src/Generator/OperationClassGenerator.php
  src/GraphQL/DocumentNodeWithSource.php
  src/GraphQL/FragmentDefinitionNodeWithSource.php
  src/Planner.php
  src/Planner/Plan/DataClassPlan.php
  src/Planner/Plan/OperationClassPlan.php
  src/Planner/SelectionSetPlanner.php
  src/Planner/Source/GraphQLFileSource.php
  src/Planner/Source/TwigFileSource.php
  tests/Planner/SelectionSetPlannerTest.php
  tests/Twig/Generated/Fragment/AdminProjectList.php
  tests/Twig/Generated/Fragment/AdminProjectList/Project.php
  tests/Twig/Generated/Fragment/AdminProjectList/Viewer.php
  tests/Twig/Generated/Fragment/AdminProjectOptions.php
  tests/Twig/Generated/Fragment/AdminProjectRow.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Add functional tests for RestrictedUsageExtension
  phpstan.php
  tests/PHPStan/Fixtures/AllowedController.php
  tests/PHPStan/Fixtures/NotAllowedController.php
  tests/PHPStan/Generated/Data.php
  tests/PHPStan/Generated/SomeQuery.php
  tests/PHPStan/RestrictedUsageExtensionTest.php
  tests/PHPStan/config.php
  tests/PHPStan/phpstan.neon
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Update example
  README.md
  examples/Generated/Enum/SearchType.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Require PHPStan 2.1.18 minimum
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-dependency-analyser

Fix PHPStan errors
  src/PHP/Visitor/OperationFinder.php
  src/Planner/SelectionSetPlanner.php
  src/TypeInitializer/DelegatingTypeInitializer.php
  tests/GraphQLTestCase.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Improve Twig-sourced code generation and restrict usage (#39)
  README.md
  composer.json
  composer.lock
  examples/Generated/Enum/SearchType.php
  lefthook.yaml
  phpstan.php
  src/Generator/DataClassGenerator.php
  src/Generator/OperationClassGenerator.php
  src/GraphQL/DocumentNodeWithSource.php
  src/GraphQL/FragmentDefinitionNodeWithSource.php
  src/PHP/Visitor/OperationFinder.php
  src/Planner.php
  src/Planner/Plan/DataClassPlan.php
  src/Planner/Plan/OperationClassPlan.php
  src/Planner/SelectionSetPlanner.php
  src/Planner/Source/GraphQLFileSource.php
  src/Planner/Source/TwigFileSource.php
  src/TypeInitializer/DelegatingTypeInitializer.php
  tests/GraphQLTestCase.php
  tests/PHPStan/Fixtures/AllowedController.php
  tests/PHPStan/Fixtures/NotAllowedController.php
  tests/PHPStan/Generated/Data.php
  tests/PHPStan/Generated/SomeQuery.php
  tests/PHPStan/RestrictedUsageExtensionTest.php
  tests/PHPStan/config.php
  tests/PHPStan/phpstan.neon
  tests/Planner/SelectionSetPlannerTest.php
  tests/Twig/Generated/Fragment/AdminProjectList.php
  tests/Twig/Generated/Fragment/AdminProjectList/Project.php
  tests/Twig/Generated/Fragment/AdminProjectList/Viewer.php
  tests/Twig/Generated/Fragment/AdminProjectOptions.php
  tests/Twig/Generated/Fragment/AdminProjectRow.php
Due: ensure-sync, sync-readme-examples, composer-validate, composer-normalize, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Introduce stale generated import removal
  phpstan.php
  src/Executor/PlanExecutor.php
  src/PHP/Visitor/StaleImportRemover.php
  tests/StaleImportRemoval/ControllerWithStaleImport.php
  tests/StaleImportRemoval/Generated/Query/GetViewer6b9a6d/Data.php
  tests/StaleImportRemoval/Generated/Query/GetViewer6b9a6d/Data/Viewer.php
  tests/StaleImportRemoval/Generated/Query/GetViewer6b9a6d/Error.php
  tests/StaleImportRemoval/Generated/Query/GetViewer6b9a6d/GetViewerQuery.php
  tests/StaleImportRemoval/Schema.graphql
  tests/StaleImportRemoval/StaleImportRemovalTest.php
  tests/StaleImportRemoval/StaleImportRemoverTest.php
Due: ensure-sync, sync-readme-examples, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Show diff on --ensure-sync mismatch
  composer.json
  composer.lock
  src/Console/GenerateCommand.php
Due: ensure-sync, sync-readme-examples, composer-validate, composer-normalize, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit

Remove stale generated imports and improve sync validation (#40)
  composer.json
  composer.lock
  phpstan.php
  src/Console/GenerateCommand.php
  src/Executor/PlanExecutor.php
  src/PHP/Visitor/StaleImportRemover.php
  tests/StaleImportRemoval/ControllerWithStaleImport.php
  tests/StaleImportRemoval/Generated/Query/GetViewer6b9a6d/Data.php
  tests/StaleImportRemoval/Generated/Query/GetViewer6b9a6d/Data/Viewer.php
  tests/StaleImportRemoval/Generated/Query/GetViewer6b9a6d/Error.php
  tests/StaleImportRemoval/Generated/Query/GetViewer6b9a6d/GetViewerQuery.php
  tests/StaleImportRemoval/Schema.graphql
  tests/StaleImportRemoval/StaleImportRemovalTest.php
  tests/StaleImportRemoval/StaleImportRemoverTest.php
Due: ensure-sync, sync-readme-examples, composer-validate, composer-normalize, composer-dependency-analyser, php-cs-fixer, phpstan, phpunit
